altair==4.2.0
matplotlib==3.6.3
pandas==1.5.2
pinecone==0.1.0
pinecone_client==2.1.0
plotly==5.11.0
praw==7.6.1
python-dotenv==0.21.0
python_dateutil==2.8.2
sentence_transformers==2.2.2
stqdm==0.0.5
streamlit==1.16.0
textblob==0.17.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cpu
transformers==4.25.1
wordcloud==1.8.2.2
